<nav class="navbar">
  <div class="navbar__container">
    <a href="/" id="navbar__logo">EAU CLAIRE'S SALON</a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/" class="navbar__links" id="home-page">Home</a>
      </li>
      <li class="navbar__item">
        <a href="/stylists" class="navbar__links" id="about-page">Stylists</a>
      </li>
      <li class="navbar__item">
        <a href="/clients" class="navbar__links" id="services-page">Clients</a>
      </li>
      <li class="navbar__btn">
        <a href="/clients/create" class="button" id="signup">Book</a>
      </li>
    </ul>
  </div>
</nav>

