@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/edit.css">
@model HairSalon.Models.Stylist

<div class="edit__container">
  <div class="edit__title">
    <h1>Edit</h1>
  </div>
  <div class="edit__subtitle">
    <p>@Html.DisplayFor(model => model.Name)</p>
  </div>
  <div class="edit__display">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.StylistId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)
      <br>
      <button class="edit__btn" type="submit">Save</button>
    }
  </div>
</div>