@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/home.css">

<div class="main" id="home">
  <div class="main__container">
    <h1 class="main__heading">Become a Stylist</h1>
    <p class="main__description">Join Today</p>
    <button class="main__btn"><a href="/stylists/create">Sign up</a></button>
  </div>
</div>