@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/home.css">

<div class="home" id="home">
  <div class="home__container">
    <h1>Eau Claire's Salon</h1>
  </div>
  <div class="home__btn">
    <a href="/clients/create" id="home">Book Appointment</a>
  </div>
</div>

<!-- Services Section -->
  <div class="services" id="services">
    <h1>Our Services</h1>
    <div class="services__wrapper">
      <div class="services__card">
        <h2>Hair</h2>
      </div>
      <div class="services__card">
        <h2>Skin</h2>
      </div>
      <div class="services__card">
        <h2>Nails</h2>
      </div>
      <div class="services__card">
        <h2>Eyelashes</h2>
      </div>
    </div>
  </div>

<!-- Sign Up Section-->

<div class="signup" id="home">
  <div class="signup__container">
    <h1 class="signup__heading">Become a Stylist</h1>
    <p class="signup__description">Join Today</p>
    <button class="signup__btn"><a href="/stylists/create">Sign up</a></button>
  </div>
</div>

